@media screen and (max-width:1024px) {
  .cookie-content {
    width: 100%;
    padding-right: 10px;
    text-align: center;
  }

  .accept-btn {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .cookie-content p {
    font-size: 14px;
  }

  .cookie-alert .card-body {
    padding: 20px 10px;
  }

  .accept-btn a {
    max-width: 150px;
    width: 100%;
    margin: auto !important;
  }
}


@media (max-width: 991px) {
  .nav {
    padding: 1rem;
  }

  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 30px;
    padding-top: 0.2rem;
    z-index: 2;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    filter: invert(1);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #0e2c2e;
    filter: invert(1);
  }

  .nav>.nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #fff;
    height: 0;
    transition: all 0.3s ease-in;
    top: 0px;
    left: 0;
    overflow: hidden;
    padding-left: 20px;
  }

  .nav>.nav-list>li {
    width: 100%;
    margin-top: 1.5rem;
  }

  .nav>#nav-check:checked~.nav-list {
    height: 700px;
  }

  .nav>.nav-header {
    padding-left: 0;
  }

  .best_casino_vages img {
    margin-bottom: 40px;
  }

  .right_side_vegas {
    text-align: center;
  }

  .casino_in_monaco.section .row {
    flex-direction: column-reverse;
    text-align: center;
  }

  .right_monaco a img {
    margin-bottom: 20px;
  }

  .casino_page_section .right_monaco {
    text-align: center;
    padding-top: 20px;
  }

  .casino_wrapper .left_monaco h2::before {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width:767px) {
  .privacy-term-sec .heading_h2 {
    font-size: 24px;
  }

  h1 {
    font-size: 34px;
  }
  .lower_banner.section .left_side_banner {
    margin-bottom: 35px;
}
}


@media screen and (max-width:575px) {
  .heading_h2 {
    font-size: 24px;
  }
}